<!-- <mat-card class="example-card">
    <div class="products" *ngFor="let product of products">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{product.product_name}}</mat-card-title>
        </mat-card-header>
      
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <div class="price">R${{product.product_price}}</div>
            <div class="owner">Weight</div>
            <div class="owner-name">{{product.product_weight}}</div>
            <div class="owner">ID</div>
            <div class="owner-name">{{product.p_id}}</div>
          </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <button mat-button (click)="addProductWishlist(product)"> <mat-icon>favorite_border</mat-icon> WISHLIST</button>
            <button mat-button (click)="openBuyDialog(product)"> <mat-icon >add_shopping_cart</mat-icon> BUY</button>
          </mat-card-actions>
    </div>
</mat-card> -->

<div class="d-flex">
    <input class="form-control me-2" type="search" [(ngModel)]='product_name' placeholder="Search" aria-label="Search">
    &nbsp;
    <button class="btn btn-outline-dark" type="button" (click)="onNameFilter()">
        <mat-icon>search</mat-icon>
    </button>
    &nbsp;
    <button class="btn btn-outline-dark" type="button" (click)="onNameFilterClear()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="row justify-content-center text-center">
    <div class="col-md-8 col-lg-6" style="background-color: rgb(253, 255, 225); margin-left:25%">
        <div class="header">
            <h3 style="font-size: 15px; margin-top: 15px;" >Featured Product</h3>
            <h2 style="font-size: 20px;">Popular Products</h2>
        </div>
    </div>
</div>


<div class="container mt-2">
    <div class="row1">
        <div class="col item">
            <div class="card item-card contain " *ngFor="let product of products | filter: searchName:'product_name'">
                <h4 class="card-title text-center">
                    {{product.product_name}}
                </h4>
                <img src="https://images.unsplash.com/photo-1526947425960-945c6e72858f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                    alt="Photo of sunset">
                <h5 class="item-card-title mt-3 mb-3"></h5>
                <p class="card-text">Weight : {{product.product_weight}}
                    <br>Price : {{product.product_price}}
                </p>
                <div class="buttons">
                    <button class="like" mat-button (click)="addProductWishlist(product)">
                        <mat-icon>favorite_border</mat-icon>
                    </button>
                    <button mat-button class="bll" (click)="openBuyDialog(product)">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>